/**
 * Tableless Layout - additional CSS for Arctic Template
 *
 * @author Michael Klier <chi@chimeric.de>
 */

div.dokuwiki .header {
  height: 105px;
  border-bottom: 0px solid gray;
  background-color: #333;
}

div.dokuwiki .pagename {
  margin: 0.2em;
  font-size: 130%;
  color: #333;
}

div.dokuwiki .logo {
  margin: 0.2em;
  font-size: 0px;
  line-height: 110px;
  background-image: url(/lib/images/logolm.png);
}

div.dokuwiki .pagename a {
  color: #333 !important;
}

div.dokuwiki .logo a {
  color: transparent;
}

div.dokuwiki .bar {
  padding: 2px;
  float: left;
  width: 1126px;
}

div.dokuwiki #bar__top,
div.dokuwiki #bar__bottom { 
  background: #333;
}

div.dokuwiki div.meta {
  padding: 0 0.5em 0 0.5em;
}

div.dokuwiki div.footerinc div.license {
  display: inline;
  padding: 0;
  font-size: 100%;
}

div.dokuwiki div.footerinc div.license img {
  float: none;
  margin: 0;
}
